html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}
.x-panel-content input{
	border-radius:5px; padding-left:5px;padding-right:5px;
}
#showTable{
	border-collapse: collapse; text-align:center; margin:0 auto;
}
#showTable tr th,#showTable tr td{
	width:100px; height:40px; border:1px solid #999;text-align:center; padding:5px;
}
#showTable tr .the_type{
	width:200px;
}